<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>
		<%= render 'partials/stylesheets' %>
		</head>
		<body>
			<div class="container">
			<%= render 'partials/header' %>
				<section class="round">
					<%= yield %>
				</section>
				<%= render 'partials/footer' %>
			</div>
		</body>
</html>